body {
    background-color: olive;
    text-align: center; 
    color:tan; 
    }

img {max-height:100%;
max-width:auto;
object-fit: cover;
}
.pics {height: 140px;width:210px; }
.pics {display: flex;}
h1 {font-size: xx-large;
    font-style: unset;
    font-family: Verdana;}

img {background-color: burlywood;
border: 1px solid;
margin: 1px;
border-radius: 2px;
overflow: hidden;
padding: 1px;
text-align: center;
 }
.pics {display: flex;
    
}
 


.title {font-size: x-large ;
font-family: Impact, fanstasy;}


