.title {font-size: x-large ;
    font-family: Impact, fanstasy;}

h1 {font-size: xx-large;
        font-style: unset;
        font-family: Verdana;}
    
body {
    background-color: olive;
    text-align: center; 
    color:tan; 
    }

img {max-height:100%;
max-width: auto;
object-fit: contain;
}

.pics {height: 140px;width:210px; }

.pics {display: flex;}

img {background-color: burlywood;
border: 1px solid;
margin-left: auto;
margin-right: auto;
border-radius: 2px;
overflow: hidden;
padding: 1px;
align-items: center;
 }
   



